body {
    font-family: Lato, sans-serif;
    background-color: #09b7a1;
    color: #fff;
    padding: 50px 75px;
}

.tweet {
	font-family: Lato, sans-serif;
	vertical-align: middle;
	width: 400px;
	word-break: break-word;
}

.run {
	margin-left: 15px;
}
